@font-face {
	font-family: "Times New Roman";
	src: url("400norm.woff2") format("woff2");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "Times New Roman";
	src: url("400ital.woff2") format("woff2");
	font-style: italic;
	font-weight: 400;
}

@font-face {
	font-family: "Times New Roman";
	src: url("700norm.woff2") format("woff2");
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: "Times New Roman";
	src: url("700ital.woff2") format("woff2");
	font-style: italic;
	font-weight: 700;
}